<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="FlowDriveSuite" verbose = "2">
	<test name="Test">
		<classes>
			<class name="com.flowDrive.initialize.AndroidDriverr" />
			<class name="com.flowDrive.scripts.WorkFlow1_Test" >
			<methods>
			<include name="startJourney"></include>
			</methods>
			</class>
		</classes>
	</test> <!-- Test -->
</suite> <!-- FlowDriveSuite -->
